@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Archivo Black', sans-serif;
  }
  
  button {
    font-family: 'Space Grotesk', sans-serif;
  }
}
